<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag('profile.jpeg') %>
  </div>

  <div id="content">
    <h1>Hey, I'm Aleksandr Kainka</h1>
    <p>I'm a junior Ruby and Ruby on Rails developer, this website was created using the following technology stack:</p>
    <ul>
        <li>Programming language: Ruby</li>
        <li>Framework: Ruby on Rails</li>
        <li>Database: PostgreSQL</li>
        <li>Server: Linux Ubuntu 14.04</li>
        <li>Web server: Nginx</li>
        <li>The Rails Server: Puma</li>
        <li>Deployment: Capistrano</li>
    </ul>
    <p>Always ready to cooperate as a freelancer or full-time.</p>
  </div>
</div>
